//
//  Project.xcconfig
//  Attenuator
//
//  Created by Vlad Gorlov on 25.06.17.
//  Copyright © 2017 WaveLabs. All rights reserved.
//

#include "Version.xcconfig"

CURRENT_PROJECT_VERSION = $(APP_BUNDLE_VERSION)

DEVELOPMENT_TEAM = E27KE6VTF6

// You can use this file to override project settings (such as DEVELOPMENT_TEAM, File/Framework Search Paths, etc.)
#include? "Developer.xcconfig"
